@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

  body {
    background-image: linear-gradient(to top, #49a90d, #5f2c82);
  }

  section#idLogin {
    width: 80vw;
  }

  section#idLogin > div#idImagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  section#idLogin > div#idFormulario {
    float: right;
    width: 70%;
  }

}

@media screen and (min-width: 992px) {

  body {
    background-image: linear-gradient(to top, #49a90d, #5f2c82);
  }

  section#idLogin {
    width: 950px;
  }

  section#idLogin > div#idImagem {
    float: left;
    width: 50%;
    height: 100%;
  }

  section#idLogin > div#idFormulario {
    float: right;
    width: 50%;

  }


}